@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TT_Hoves-Light-Normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TT_Hoves-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TT_Hoves-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
