$color-white: #fff;
$color-black: #000;
$color-hover: #ff6416;

$color-3b3862: #3b3862;
$color-f6f6ff: #f6f6ff;
$color-403a87: #403a87;
$color-262351: #262351;
$color-ff6416: #ff6416;
$color-837ebd: #837ebd;
$color-b0abe3: #b0abe3;
$color-fefefe: #fefefe;
$color-ff6725: #ff6725;
$color-ce3d06: #ce3d06;
$color-242052: #242052;
$color-d5d5f4: #d5d5f4;
$color-202f46: #202f46;
$color-a09ae0: #a09ae0;
$color-5d5891: #5d5891;
$color-ededff: #ededff;
$color-2f2e71: #2f2e71;
$color-1d1a3b: #1d1a3b;
